body {
    background-image: url("https://img4.goodfon.com/wallpaper/nbig/a/8b/vector-blue-squares-abstract-background-geometric.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0
}

img {
    height: 100%;
    width: 100%
}

.border1 {
    border: 2px solid blue;
    margin: 30px;
}

p {
    padding: 20px
}

.container-grid1 {
    display: grid;
    grid-template-columns: 1fr;
}

.new, .delete, .update {
    border: 2px solid blue;
    padding: 0;
    margin: 0
}
.new:hover, .delete:hover, .update:hover {
    color: lightblue;
}
.line {
    border: 2px solid lightblue;
    border-top: white;
    border-left: white;
    border-right: white;

}